@namespace CovAnalytica.Client.Components

@*<MudSwitch @bind-Checked="Visible" Style="display: block;">Chart Visible</MudSwitch>*@
<div style="@($"display: {(Visible ? "block" : "none")}; width: 100%")">

    <ApexChart @ref="_apexChart"
        TItem="DataItem"
        XAxisType="XAxisType.Datetime"
        Title="@Title" Options="options">
            @foreach(var dataset in _datasets)
            {
        
                <ApexPointSeries TItem="DataItem"
                    Items="@dataset.Items"
                    Name="@dataset.Title"
                    SeriesType="SeriesType.Area"
                    XValue="@(e => e.Date)"
                    YValue="@(e => e.Value)"
                    YAggregate="@(e => e.Sum(e => e.Value))"
                    OrderByDescending="e=>e.X" 
                    Stroke="@(new ApexCharts.SeriesStroke { Width = dataset.StrokeWidth, Color = dataset.StrokeColor })"/>
            }

    </ApexChart>
</div>